@import "../../styles/varibles.scss";

.home {
    .note{
        text-transform: capitalize;
        text-align: center;
    }

    .error{
        text-align: center;
        color: #c0392b;
    }

}